<html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
  <div class="container mt-5">
    <h1>About Us</h1>
    <p>Our company, <%= @company_name %>, was founded in <%= @founded_date %> with the goal of providing high-quality products and exceptional customer service. We are a team of dedicated individuals who are passionate about what we do and strive to deliver the best experience for our customers.</p>
    <p><%= @mission_statement %></p>
    <p><%= @products %></p>
    <p>Thank you for choosing our company. We look forward to serving you and helping you make the most of your everyday life.</p>
    <h2>Contact Us:</h2>
    <p><%= @contact_info %></p>
  </div>
</body>
</html>